// Variables

$color-primary: hsl(179, 62%, 43%);
$color-accent: hsl(71, 73%, 54%);

$color-secondary-01: hsl(218, 22%, 67%);
$color-secondary-02: hsl(204, 43%, 93%);

$ff: "Karla", san-serif;

$h1: 20px;
$h2: 18px;
$p: 16px;
